.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #844691;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.home-container p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #FFF;
}

.home-container h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #FFF;
}