.navbar-container {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #c44882 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFF !important; 
}

.navbar-toggler {
  display: flex;
  border-color: transparent;
}

.navbar-toggler-icon {
  display: flex;
  background-color: #FFF;
}

.nav-link {
  font-weight: 700;
  font-size: 1.2rem;
  color: #FFF !important; 
  margin: 0 10px; 
}

.nav-link:hover {
  color: #e05cc6 !important;
}

