* {
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e0c2d5;
  }
  
  Button {
    width: 100%;
    background-color: #f52fa9 !important;
    border-color: #f52fa9 !important;
  }
  
  Button:hover {
    background-color: #a31764 !important;
    border-color: #a31764 !important;
  }